/* playoff table */
#po-bracket {
  overflow: hidden;
  background-color: #e1e1e1;
  background-color: rgba(225, 225, 225, 0.9);
  padding-top: 20px;
  font-size: 12px;
  padding-bottom: 40px;
}

.po-table {
  align-content: center;
  max-width: 100%;
  margin-left: 40px;
  display: block;
}

.po-split {
  display: block;
  float: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 42%;
  flex-direction: row;
}

.po-champion {
  float: left;
  display: block;
  width: 16%;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-self: center;
  align-self: center;
  text-align: center;
  padding: 230px 0 \9;
}

.po-champion i {
  color: #a0a6a8;
  font-size: 50px;
  padding: 10px 0;
}

.po-champion ul {
  padding: 20px;
}

.po-round {
  display: block;
  float: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 95%;
  width: 30.8333% \9;
}

.po-split-one .po-round {
  margin: 0 2.5% 0 0;
}

.po-split-two .po-round {
  margin: 0 0 0 2.5%;
}

.po-matchup {
  margin: 0;
  width: 100%;
  padding: 10px 0;
  height: 60px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.po-team {
  padding: 0 5px;
  margin: 3px 0;
  height: 25px;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  right: 5px;
}

.po-round-two .po-matchup {
  margin: 0;
  height: 60px;
  padding: 57px 0;
}

.po-round-three .po-matchup {
  margin: 0;
  height: 60px;
  padding: 115px 0;
}

.po-round-details {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  color: #2C7399;
  text-transform: uppercase;
  text-align: center;
  height: 40px;
}

.po-round-stage {
  font-size: 15px;
  letter-spacing: 0;
  font-family: 'Istok Web', sans-serif;
  color: #3F915F;
}

.po-champion li,
.po-round li {
  background-color: #fff;
  box-shadow: none;
  opacity: 0.5;
}

.po-current li {
  opacity: 1;
}

.po-current li.po-team {
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  opacity: 1;
}

.po-vote-options {
  display: block;
  height: 52px;
}

.po-final {
  margin: 8.5em 0;
}

@media screen and (min-width: 981px) and (max-width: 1099px) {
  .po-table {
    margin: 0 1%;
  }

  .po-champion {
    width: 14%;
  }

  .po-split {
    width: 43%;
  }

  .po-split-one .vote-box {
    margin-left: 138px;
  }

}

@media screen and (max-width: 980px) {
  .po-table {
    flex-direction: column;
  }

  .po-split,
  .po-champion {
    width: 90%;
    margin: 35px 5%;
  }

  .po-champion {
    order: 3;
  }

  .po-split {
    border-bottom: 1px solid #b6b6b6;
    padding-bottom: 20px;
  }

}

@media screen and (max-width: 400px) {
  .po-split {
    width: 95%;
    margin: 25px 2.5%;
  }

  .po-round {
    width: 21%;
  }

  .po-current {
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
  }

  .po-round-details {
    font-size: 90%;
  }

}

/*---*/

/* regular table */
.reg-container {
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.reg-round h1 {
  text-align: center;
  color: #4DC3FA;
}

.reg-round h2 {
  text-align: center;
  color: #FB667A;
}

.reg-container th {
  font-weight: bold;
  font-size: 15px;
  color: #5666c9;
}

.reg-container td {
  font-weight: normal;
  font-size: 15px;
  text-align: left;
}

.reg-container td,
.reg-container th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
  color: #3F915F;
}

.reg-container tr:nth-child(odd) {
  background-color: #3a4550;
}

.reg-container tr:nth-child(even) {
  background-color: #383c46;
}

.reg-container th {
  background-color: #E4E4E4;
}

.reg-container td:first-child {
  color: #a24250;
  font-weight: bold;
}

/*---*/

/*- Matches table -*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1700px) {
}

.score-first,
.score-second {
  float: right;
  width: 50px;
}

button,
input {
  float: right;
}

.teams-result {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  box-shadow: 0 0 2px 0 black;
}

.score-first input,
.score-second input {
  width: 50px;
}
div.first-team,
div.second-team {
  margin-bottom: 10px;
}

