{% extends 'tournament/base.html' %}
{% load static %}

{% block title %}{{ tournament.name }}{% endblock %}

{% block content %}
  <div class="container bs-docs-container">
    <div class="row">
      <div class="col-md-10" role="main">
        <div class="well well-sm">
          <strong>Display</strong>
          <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                  class="glyphicon glyphicon-th"></span>Grid</a>
            {% if is_admin%}
              <a href="#" data-toggle="modal" data-target="#create_modal">
                <button class="btn btn-default btn-sm">Create tournament</button>
              </a>
            {% endif %}
          </div>
        </div>
        <div id="products" class="row list-group">
          {% if all_tournaments %}
            {% for tourn in all_tournaments %}
              <div class="item  col-xs-12 col-md-4">
                <div class="thumbnail">
                  <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                  <div class="caption">
                    <h3 class="group inner list-group-item-heading">
                      {{ tourn.name }}</h3>
                    <p class="group inner list-group-item-text">
                      Players Number - {{ tourn.players.count }}
                      Tournament Stages - {{ tourn.stage_set.count }}
                    </p>
                    <div class="row">
                      <div class="col-xs-12 col-md-6">
                        <p class="lead">{{ tourn.get_status_display }}</p>
                      </div>
                      <div class="col-xs-12 col-md-6">
                        {% if is_admin %}
                          <form method="POST" action="{{ tourn.delete_tourn_url }}" >
                            {% csrf_token %}
                            <input type="submit" class="btn btn-primary btn-sm" value="Delete">
                          </form>
                          <form method="POST" action="{{ tourn.create_teams_url }}" >
                            {% csrf_token %}
                            <input type="submit" class="btn btn-primary btn-sm" value="Create teams">
                          </form>
                        {% endif %}
                        <a href="tourn{{ tourn.pk }}">
                          <button class="btn btn-success">Details...</button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div>
              <h2>Database is empty</h2>
            </div>
          {% endif %}
          <div class="modal fade" id="create_modal" tabindex="-1" role="dialog" aria-labelledby="create_modal_lbl">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content modal-transparent">
                <div class="modal-header text-center">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="create_modal_lbl">New tournament</h4>
                </div>
                <div class="modal-body">
                  <form method="POST" action="{% url 'create_tourn' %}" id="create-form">
                    {% csrf_token %}
                    <div class="create_tourn text-left">
                      {{ new_tourn_form.as_p }}
                      <input id="all_check" type="checkbox" onClick="toggle(this)">
                      <label id="all_label" for="all_check">Select all</label>
                      {{ new_stage_form.as_p }}
                    </div>
                    <input type="submit" value="Create">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">For example - Last added players:</div>
    </div>
  </div>
{% endblock %}
{% block addscripts %}
  <script src={% static "tournament/js/create_validation.js" %}></script>
{% endblock %}