{% extends 'tournament/base.html' %}
{% load static %}

{% block title %}Matches{% endblock %}

{% block head %}
  <link rel="stylesheet" href={% static "tournament/tables.css" %}>
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      {% if all_matches %}
        <!--{% if is_admin %}
        {% for match in all_matches %}
          <form method="POST" action="/create_post/" id="id{{ match.id }}" class="{{ match.id }}">
          {% csrf_token %}
            <div class="col-md-3 teams-result" id="id{{ match.id }}">
              <div class="first-team">
                <span class="glyphicon glyphicon-menu-right"></span>
                {{ match.team.first }}
                <div class="score-first">{{ match.first_team_goals }}</div>
              </div>
              <div class="second-team">
                <span class="glyphicon glyphicon-menu-left"></span>
                {{ match.teams.last }}
                <div class="score-second">{{ match.second_team_goals }}</div>
              </div>
              <button class="btn edit" id="{{ match.id }}">Edit</button>
              <div id="{{ match.id }}"></div>
              <button class="btn save" style="display:none" type="submit">Save</button>
            </div>
          </form>
        {% endfor %}
        {% endif %} -->
          {% for match in all_matches %}
          <div class="col-md-3 teams-result">
              <div class="first-team">
                <span class="glyphicon glyphicon-menu-right"></span>
                {{ match.teams.first }}
                <div class="score-first">{{ match.first_team_goals }}</div>
              </div>
              <div class="second-team">
                <span class="glyphicon glyphicon-menu-left"></span>
                {{ match.teams.last }}
                <div class="score-second">{{ match.second_team_goals }}</div>
              </div>
          </div>
        {% endfor %}
        {% else %}
        <h2>No matches created,to create match press
          <a href='#'>generate matches</a>
        </h2>
      {% endif %}
    </div>
  </div>
{% endblock %}