{% extends 'tournament/base.html' %}

{% block title %}Matchs{% endblock %}

{% block content %}
  <div class="container-fluid players">
  {% if teams %}
    <table class="table table-responsive table-bordered">
      <thead>
      <tr>
        <th>Matches list:</th>
      </tr>
      </thead>
      <tbody class="main-table-body">
        {% for team in teams %}
          <tr>
            <td>{{ forloop.counter }}. {{ team }}</td>
          </tr>
        {% endfor %}
      {% else %}
    <h2>No matches created,to create match press
      <a href={% url 'matchs' tournament_name stage_id %}>generate matchs</a>
    </h2>
      {% endif %}
      </tbody>
    </table>
  </div>
{% endblock %}