{% extends 'tournament/base.html' %}

{% block title %}{{ player }}{% endblock %}

{% block content %}
  <div class="text-center">
    {% firstof full_name player.user.username as name %}
    <p><strong>{{ name }}</strong></p>
    <p><em>{{ player.email }}</em></p>
    {% if social_ava %}
      <img style="width: 200px" src="{{ social_ava }}" alt="player social photo"/><br/>
    {% elif player.photo %}
      <img style="width: 200px" src="{{ player.photo.url }}" alt="player photo"/><br/>
    {% else %}
      <span class="fa fa-user-circle glyph-m-size"></span>
    {% endif %}
  </div>
{% endblock %}