{% extends 'tournament/base.html' %}
{% load static %}

{% block title %}{{ tournament.name }}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  <div class="container">
    {% if all_stages %}
      {% for stage in all_stages %}
        <div class="well stage">
          <a href="{{ stage.id }}">
              <h3>Stage {{ stage.id }}</h3>
          </a>
          <p>{{ stage.get_mode_display }}</p>
          <p>Round amount - {{ stage.round_set.count }}</p>
          <a href="{{ stage.get_absolute_url }}"><p>Match-list</p></a>
        </div>
          <form method="POST" action="matches/{{ stage.id }}/">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Generate matches">
          </form>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
